@keyframes logo-timeline {
  0% {
    --logo-letter-ml: 0ch;
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    --logo-letter-ml: -3.72ch;
    opacity: 0;
  }
}

.nav {
  padding-block: 0.8rem 0.4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  background-color: var(--white-75);
  row-gap: 0.4rem;

  &.loading {
    height: var(--nav-height);
  }

  .subgrid {
    grid-column: 2/-2;
    height: 100%;
    row-gap: 0.4rem;
  }

  .logo {
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
    width: fit-content;
    overflow-x: clip;

    .P ~ span {
      overflow: clip;
    }

    .letters {
      position: relative;
      margin-left: var(--logo-letter-ml);
      animation: logo-timeline 1.4s ease-in-out 3s forwards;
    }

    svg {
      height: var(--base-font-size);
      width: fit-content;
    }
  }

  .logo-wrapper {
    display: flex;
    gap: 0.8rem;
    grid-column: 1 / -1;

    > svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .menu {
    grid-column: 1/-1;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  a {
    text-decoration: none;
  }

  .subnav {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    h1,
    h2 {
      display: flex;
      gap: 0.8rem;
    }

    ul,
    li {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }
  }

  @media (min-width: 1080px) {
    padding-block: 1.6rem;

    .menu {
      grid-column: 5 / span 8;
      justify-content: space-between;
      flex-direction: row;
      gap: 0;
    }

    .plus-button {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

.nav__overlay {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}
