.nav {
  padding-block: 0.8rem 0.4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  height: var(--nav-height);

  .subgrid {
    grid-column: 2/-2;
    height: 100%;
    row-gap: 0.4rem;
  }

  .logo {
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
    width: fit-content;

    svg {
      height: var(--base-font-size);
      width: fit-content;
    }
  }

  &.open {
    background: rgba(255, 255, 255, 0.75);
    height: auto;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  .logo-wrapper {
    display: flex;
    gap: 0.8rem;
    grid-column: 1 / -1;

    > svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .menu {
    grid-column: 1/-1;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  a {
    text-decoration: none;
  }

  @media (min-width: 1400px) {
    padding-block: 1.6rem;

    .menu {
      grid-column: 5 / span 8;
      justify-content: space-between;
      flex-direction: row;
      gap: 0;
    }

    .plus-button {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
