.video-player {
  position: relative;

  .video {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: top 0.3s ease-out;

      &.playing {
        top: -100%;
        transition: top 0.3s ease-out;

        @media (prefers-reduced-motion: reduce) {
          transition: none;
        }
      }

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }

  .info {
    padding: 0.8rem 0;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 1.2rem;

      .title {
        display: flex;
        min-width: 0;

        .title__title {
          flex: 0 1 auto;
          display: flex;
          flex-direction: row-reverse;
          gap: 0.8em;
          min-width: 0;
        }

        h3 {
          font-weight: 400;
          font-size: var(--base-font-size);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        svg {
          flex: 0 0 auto;
        }
      }

      .date {
        display: block;
        white-space: nowrap;
        flex: 0 0 auto;
      }
    }
  }

  .description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(50%);
    z-index: 10;
    padding: 0.8rem 0;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(10px);
    transition: opacity 0.1s ease, transform 0.3s ease;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    &.show {
      transform: translateY(100%);
      opacity: 1;
      transition: opacity 0.1s ease 0.15s, transform 0.3s ease;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    p {
      margin: 0;
    }
  }

  @media (min-width: 1400px) {
    .info {
      padding: 1.2rem 0;

      .top {
        .title {
          .title__title {
            align-items: baseline;
            flex-direction: row;
          }
        }
      }
    }
  }
}
