.home {
  grid-column: 2/-2;
  height: var(--100ddvh);
  padding-bottom: 1.6rem;
  grid-template-rows: 1fr auto;

  .top {
    grid-template-rows: auto 1fr;
    grid-column: 1/-1;
  }

  .intro {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.2rem 0 0;

    a {
      margin-top: 1em;
    }
  }

  .featured {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;

    .video-player {
      width: 100%;
    }
  }

  .thumbnails {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: fit-content;
  }

  .carousel {
    display: flex;
    gap: 1.6rem;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }

  .carousel-item {
    height: 13dvh;

    img {
      height: 100%;
    }
  }

  @media (min-width: 1400px) {
    grid-template-rows: auto 16dvh;

    .top {
      height: fit-content;
    }

    .intro {
      grid-column: 1 / span 4;
    }
    .featured {
      grid-column: 5 / span 8;
      align-items: flex-start;
    }

    .thumbnails {
      justify-content: space-between;
    }

    .carousel-item {
      height: 13dvh;
    }
  }
}
