.home {
  grid-column: 2/-2;
  height: calc(var(--100dvh) - var(--nav-height) - 0.8rem);
  padding-bottom: 1.6rem;
  grid-template-rows: 1fr auto;

  .top {
    grid-template-rows: 0.5fr 1fr;
    grid-column: 1/-1;
    gap: 1.2rem;
  }

  .intro {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3.2rem 0 0;

    a {
      margin-top: 1em;
    }
  }

  .featured {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-start;

    .title.active {
      cursor: pointer;
    }

    .video-player {
      width: 100%;
    }
  }

  .thumbnails {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: fit-content;
  }

  .carousel {
    max-width: 100vw;
    margin: 0 -1.2rem;
  }

  .carousel-track {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 1.6rem;
    overflow-x: auto;
    overflow-y: clip;
    scrollbar-width: none;
    padding: 0 1.2rem;
  }

  .carousel-item {
    display: inline-block;
    height: 13dvh;
    cursor: pointer;
    position: relative;
    scroll-snap-align: start;
    container-type: scroll-state;
    container-name: active-thumb;

    button {
      appearance: none;
      border: none;
      cursor: pointer;
      padding: 0;
      img {
        display: block;
        height: 13dvh;
        filter: grayscale(100%) blur(3px);
        transition: filter 0.3s ease;
      }
    }

    &.active {
      img {
        filter: none;
      }
    }
  }
  .carousel-item:last-child {
    margin-right: calc(
      100vw - var(--w) - (2 * var(--gap))
    ); /* ensures the carousel is fully scrollable to the end */
  }

  @media (min-width: 768px) {
    row-gap: 2.2rem !important;
    height: calc(var(--100dvh) - var(--nav-height) - 1.6rem);
    grid-template-rows: 0.4fr 1fr;

    .top {
      display: flex;
      align-items: flex-end;
    }

    .intro {
      grid-column: 1 / span 4;
    }
    .featured {
      grid-column: 5 / span 8;
      align-items: flex-start;
    }

    .thumbnails {
      justify-content: space-between;

      .carousel {
        margin: 0 -1.6rem;
      }

      .carousel-track {
        padding: 0 1.6rem;
      }

      .carousel-item {
        aspect-ratio: 16/9;
        height: 36dvh;

        > button {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @media (min-width: 1080px) {
    grid-template-rows: 1fr auto;

    .thumbnails {
      .carousel-item {
        height: 65dvh;
      }
    }
  }
}
