.play-button {
  fill: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(25px);
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio-button {
  display: flex;
  gap: 0.8rem;
  align-items: baseline;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &::before {
    content: "";
    width: 1.35rem;
    height: 1.35rem;
    border-radius: 50%;
    box-sizing: border-box;
    outline: 1.5px solid var(--black);
    outline-offset: 0rem;
    margin: 0;
    position: relative;
    background-color: transparent;
    transition-property: background-color outline-offset;
    transition: 0.2s ease-in-out;
  }
  &[aria-current="page"]::before,
  &:hover::before {
    content: "";
    background-color: var(--black);
  }
}

.plus-button {
  width: 15px;
  height: 15px;

  @media (min-width: 1400px) {
    width: 16.5px;
    height: 16.5px;
  }
}
