.play-button {
  fill: rgba(0, 0, 0, 0.3);
  background: transparent;
  backdrop-filter: blur(25px);
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
  }
}

.radio-button {
  display: flex;
  gap: 0.8rem;
  align-items: baseline;
  text-decoration: none;
  color: inherit; /* fixes issue with Safari iOS */

  /* Reset button styles */
  background-color: transparent;
  border: none;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  line-height: inherit;

  &:hover {
    text-decoration: none;
  }

  &::before {
    content: "";
    width: 1.35rem;
    height: 1.35rem;
    border-radius: 50%;
    box-sizing: border-box;
    outline: 1.5px solid var(--black);
    outline-offset: 0rem;
    margin: 0;
    position: relative;
    background-color: transparent;
    transition-property: background-color outline-offset;
    transition: 0.2s ease-in-out;
  }
  &[aria-current="page"]::before,
  &:hover::before {
    content: "";
    background-color: var(--black);
  }
}

.plus-button {
  width: 1em;
  height: 1em;
}

button {
  border: none;
}
