@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-Regular.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-Medium.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-Bold.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-Black.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-ExtraBlack.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-ExtraBlack.woff") format("woff");
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-Light.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-Italic.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-MediumItalic.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-BoldItalic.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-BlackItalic.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-ExtraBlackItalic.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-ExtraBlackItalic.woff") format("woff");
  font-weight: 950;
  font-style: italic;
}

@font-face {
  font-family: "Unica";
  src: url("/fonts/Unica77LLWeb-LightItalic.woff2") format("woff2"),
    url("/fonts/Unica77LLWeb-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
