:root {
  --columns: 6;
  --padding: 1.2rem;
  --gap: 1.2rem;
  --maxWidth: 250000px;
  --main-width: calc(100dvw - (var(--padding) * 2));

  @media (min-width: 768px) {
    --columns: 12;
    --padding: 1.6rem;
    --gap: 1.6rem;
  }
}

.grid {
  display: grid;
  margin-inline: auto;
  width: 100%;
  gap: var(--gap);
  grid-template-columns:
    calc(var(--padding) - var(--gap)) repeat(var(--columns), minmax(0, 1fr))
    calc(var(--padding) - var(--gap));
  row-gap: 0;
  grid-auto-rows: min-content;

  .subgrid {
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    gap: 0 var(--gap);
    row-gap: 0;
    grid-auto-rows: min-content;
  }
}

.grid-right {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: var(--gap);
  row-gap: 0;
  grid-auto-rows: min-content;

  @media (min-width: 768px) {
    grid-column: 5 / -1;
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
