:root {
  view-transition-name: root;
  --100dvh: calc(100vh - env(safe-area-inset-bottom));
  --nav-height: 5.2rem;
  --base-font-size: clamp(1.6rem, 1.3vw, 2rem);
}

html,
body {
  overflow-x: hidden;
  font-family: "Unica", Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
  color: var(--black);
  background-color: var(--white);
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
  scrollbar-width: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--base-font-size);
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.02em;
}

* {
  box-sizing: border-box;
}

*::selection {
  text-shadow: 0 0 0.75rem var(--black);
  color: transparent;
  background-color: transparent;
}
