:root {
  view-transition-name: root;
  --100dvh: calc(100dvh - env(safe-area-inset-bottom));
  --nav-height: 3.2rem;
  --base-font-size: clamp(1.6rem, 1.3vw, 2rem);

  @media (min-width: 1400px) {
    --nav-height: 5.2rem;
  }
}

html,
body {
  font-family: "Unica", Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
  color: var(--black);
  background-color: var(--white);
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
  scrollbar-width: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-size: 62.5%;
}

body,
.body-text {
  font-size: var(--base-font-size);
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.02em;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

::selection {
  color: var(--red);
  background-color: var(--yellow);
}
